.app-header {
    background: none;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.6);
    font-size: 1.3rem;

    .logo {
        text-decoration: none;
        cursor: default;
    }

    .menu-icon {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #ecbfd3;
            text-shadow: 1px 1px 3px white;
            font-family: cursive;
            font-size: 2.2rem;

            .clrd-txt {
                color: yellow;
            }
        }

        nav {
            >*:not(:last-child) {
                margin-inline-end: 1.5em;
                transition: .2s;
            }

            .active {
                color: #ecbfd3;
            }
        }
    }

    @include for-mobile-layout {
        .menu-icon {
            display: inline-block;
            cursor: pointer;
        }

        .container {
            nav {
                position: fixed;
                top: 0;
                right: -100%;
                width: 200px;
                height: 100vh;
                background-color: #f0f0f0;
                z-index: 1;

                display: grid;
                grid-template-rows: repeat(3, 70px);
                color: black;
                place-items: center;

                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
    
                box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
    
                transition: right 0.3s ease-out;
                
                >*:not(:last-child) {
                    margin-inline-end: 0;
                }
            }
        }
    }
}

body.menu-open .container nav {
    right: 0
}