// Colors
$clr1: #725ac1;
$clr2: #0077ff;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #ffffff;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// Coin animation
$coin-background: linear-gradient(#faa504, #141001);
$coin-dimension: 1em;
$coin-offset: 0.4em;
$coin-rotate-speed: 7s;